.container__forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50%;
  width: 20%;
  margin: auto;
}

.container__form-authorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 15px;

  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.container__form_title {
  user-select: none;
  text-align: center;
  width: 100%;
  height: 4rem;
  border-radius: 6px;
  font-weight: 400;
  font-size: 30px;
}

.container__form_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container__form_input-authorization {
  padding: 15px;
  border: none;
  width: 100%;
  height: 4rem;
  border-radius: 6px;
  font-weight: 300;
  font-size: 20px;
}

.сontainer__form_button {
  padding: 5px;
  background: #e5464f;
  color: #fff;
  border-radius: 6px;
  border: none;
  width: 100%;
  height: 4rem;
  font-weight: 300;
  font-size: 20px;
  user-select: none;
  transition: all 0.25s ease;
}

.сontainer__form_button:disabled {
  background: #767676;
}

.сontainer__form_button:hover {
  transition: all 0.25s ease;
  transform: scale(1.03);
}

.сontainer__form_span {
  margin-top: 1rem;
  user-select: none;
  color: rgb(108, 108, 108);
  font-size: 0.8rem;
}

.container__form_button_link {
  border: none;
  background: transparent;
  user-select: none;
  color: rgb(37, 37, 37);
  margin-left: 0.5rem;
  transition: all 0.25s ease;
}

.container__form_button_link:hover {
  transition: all 0.25s ease;
  transform: scale(1.03);
}
