.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 5rem);
  width: 60%;
  gap: 5rem;
  margin: 0 auto;
}

.container__form-search-weather {
  position: relative;
  width: 60%;
  height: 3rem;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
}

.container__form-input-city {
  padding: 15px;
  flex-grow: 5;
  border-radius: 6px;
  border: none;
  font-weight: 300;
  font-size: 20px;
}

/* .container__form-help-block-home {
  position: relative; 
  position: absolute;
  color: #e5464f;
  top: 4.4rem;
  left: 0.5rem;
} */

.сontainer__form-button-search {
  user-select: none;
  flex-grow: 1;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: #e5464f;
  font-weight: 300;
  font-size: 20px;
  transition: all 0.25s ease;
}
.сontainer__form-button-search:disabled {
  background: #9b8283;
}

.сontainer__form-button-search:hover {
  transform: scale(1.05);
  transition: all 0.25s ease;
}

.container__weather-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45vh;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
}

.container__weather-card_error {
  font-weight: 300;
  font-size: 35px;
}

.container__weather-card_city-name {
  align-self: start;
  font-weight: 300;
  font-size: 35px;
}

.container__weather-card_city-name span {
  display: inline-block;
  vertical-align: text-top;

  margin-left: 10px;
  padding: 5px;
  background: #e5464f;
  border-radius: 6px;

  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}

.container__weather-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.container__weather-card_temp {
  font-weight: 400;
  font-size: 70px;
}

.container__weather-card_img {
  width: 200px;
  height: 200px;
}

.container__weather-card_weather-description {
  font-weight: 300;
  font-size: 40px;
  padding-bottom: 3rem;
  text-transform: capitalize;
}

.container__weather-card_bottom-block {
  display: flex;
  justify-content: space-evenly;
  font-weight: 300;
  font-size: 20px;
  width: 100%;
  text-align: center;
  gap: 50px;
}

.container__weather-card_bottom-block_humidity {
  flex-grow: 1;
}

.container__weather-card_bottom-block_visibility {
  flex-grow: 1;
}

.container__weather-card_bottom-block_air-pressure {
  flex-grow: 1;
}

.container__weather-card_bottom-block_wind {
  flex-grow: 1;
}
