.container_favorite-cities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* height: 50%; */
  width: 70%;
  gap: 1rem;
  margin: auto;
}

.container___favorite-cities_card {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 42%;
  height: 7rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
}

.container__favorite-cities_card-name {
  font-weight: 300;
  font-size: 25px;
}

.container__favorite-cities_card-name span {
  display: inline-block;
  vertical-align: text-top;

  margin-left: 10px;
  padding: 5px;
  background: #e5464f;
  border-radius: 6px;

  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}

.container__favorite-cities_button {
  user-select: none;
  border-radius: 6px;
  border: none;
  background: #e5464f;
  height: 2rem;
  width: 7rem;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  transition: all 0.25s ease;
}

.container__favorite-cities_button:hover {
  transform: scale(1.05);
  transition: all 0.25s ease;
}

.container__favorite-cities_checkbox {
  border: red;
}
