@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('./components/NavBar/NavBar.css');
@import url('./pages/Home/Home.css');
@import url('./pages/Authorization/Authorization.css');
@import url('./pages/PageNotFound/PageNotFound.css');
@import url('./pages/Account/Account.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
  background: linear-gradient(-45deg, #dafefc, #ff8484, #ffa552, #ffa9f1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
